VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_AUTH_REDIRECT_URL=
VITE_CANVA_CLIENT_ID=
VITE_CANVA_REDIRECT_URI=http://localhost:5176/?integration=canva
VITE_CONSTANT_CONTACT_CLIENT_ID=
VITE_CONSTANT_CONTACT_REDIRECT_URI=http://localhost:5176/?integration=constant-contact
